<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Регистрационная форма</h1>
<form method="post">
  <div class="form-group">
    <label for="user_name">Имя пользователя (никнейм)</label>
    <input type="text" name="user_name" id="user_name" placeholder="Введите имя пользователя">
    <small>Оно будет использоваться как уникальный номер, так что изменить его будет нельзя!</small>
  </div>
  <label>Ваше имя</label>
  <input type="text" name="f_name" id="f_name" placeholder="Имя">
  <label>Ваша фамилия</label>
  <input type="text" name="l_name" id="l_name" placeholder="Фамилия">
  <label>Почта</label>
  <input type="email" name="email" id="email" placeholder="example@mail.com">
  <small>Так как мы не хотим чтобы вы запоминали тысячи паролей - пароль будет каждый раз приходить на почтовый адрес</small>
  <input type="submit" class="btn btn-primary" value="Зарегистрироваться">
  <a href="/" class="btn btn-danger">Отменить</a>
</form>
</body>
</html>